body {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    color: deepskyblue;
    background: beige;
    text-align: center;
    font-family: cursive;
    font-size: 20px;
}

#guessBox {
    padding: 25px;
    background: beige;
    border-radius: 5px;
    border: 2px solid black;
}

#buttons {
    background: beige;
}

#mainDiv {
    background: beige;
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
    height: auto;
    border-radius: 5px;
    border: 2px solid black;
}

#attemptMsg {
    font-size: 20px;
}

#guessButton {
    background: white;
    border-radius: 5px;
    border: 2px solid black;
}

#guessButton:hover {
    background: white;
    border-radius: 5px;
    border: 2px solid black;
    color: gold;
    cursor: pointer;
}

#playAgainButton {
    background: white;
    border-radius: 5px;
    border: 2px solid black;
}

#playAgainButton:hover {
    background: white;
    border-radius: 5px;
    border: 2px solid black;
    color: green;
    cursor: pointer;
}